API_ID=28374388 # get this value from my.telegram.org
API_HASH=c9a8ea0d3e63c97afdecf913172a2bc3 # get this value from my.telegram.org
BOT_TOKEN=6757500151:AAFdZ986LGhOAktk6o5GbGqnHPzC3nI7C9E # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://erkbwrs084:909090@cluster0.qdrfgmb.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1002182187594 # get this value from in your log group 
MUSIC_BOT_NAME=GeceExpress Bot # your music bot name 
STRING_SESSION=BAGw9XQAC0DY1YIMY6DPtvNnamFkPeaPdF0Q2GpAsnTQQlsWwDbK_VsT8_LAdfgcSM3sHg78IaahCHBHWUWL-yG7GZzI6qVYPjHMr8y1jBF7W_IpT2qduqOr9J_7RE0FxUY4stdNCnA4MuBi6ZMnCwvFXnrumvKqYw2hp-P0jfFLhRs6LYw2-Rp8rokD0H2YvgIknGBuQQgA8fe6UgDir0tr5jAwH1trZMNWkzfqWS76dHwrJHYJHRIUucIV-WM4rZPSvDzVpszLdLwZp9u9-ZxuDc8CJqIPdbKCIgU903MUd1XjSOZ-QJQSOAc7OE_mitj53daAkREF2c6Awrggoen0XsYQAAAAGtOmVwAA # get this value from @ArchStringBot
